.city-selector,
.city-selector:focus,
.city-selector:hover {
	outline: none;
}
.city-selector {
	padding: 8px;
	border: 1px solid rgba(86, 82, 121, 0.6);
	border-radius: 5px;
	width: 100%;
	background-color: aliceblue;
	color: #565279;
	font-size: 1rem;
}

.comboBox {
	position: relative;
	width: 80%;
	max-width: 300px;
	margin: auto;
}

.comboBox ul {
	position: absolute;
	background-color: aliceblue;
	top: 100%;
	width: 100%;
	list-style: none;
	padding: 0;
	border-radius: 0 0 8px 8px;
	border: 1px solid rgba(86, 82, 121, 0.6);
	border-top: none;
	color: #222;
}

.comboBox ul li {
	padding: 10px 20px;
	text-align: start;
}

.comboBox ul li:hover {
	opacity: 0.5;
	cursor: pointer;
}

.comboBox hr {
	border: 1px solid rgba(187, 187, 187, 0.2);
	width: 100%;
	margin: auto;
	position: absolute;
}

.comboBox hr:last-child {
	display: none;
}
